 
 body {
  background-color: #282c34;
 }

.container {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}